<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <title>Instagram</title>
    <link rel="shortcut icon" type="image/x-icon"
        href="https://static.cdninstagram.com/rsrc.php/v3/yI/r/VsNE-OHk_8a.png" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="max-w-xl mx-auto mt-4">
        <div>
            <div class="w-5/6 h-5/6 mt-5 mx-auto border">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/800px-Instagram_logo.svg.png"
                    alt="" class="mx-auto w-60 mt-14" />
                <span class="flex justify-center  w-4/6 font-medium text-xl text-center mx-20" style="color: #737373;">
                    Sign up to see photos and videos from your friends.
                </span>
                <button
                    class="bg-blue-500 hover:bg-blue-600 text-white font-medium sm:text-xl block mx-auto w-10/12 mt-5 py-2 rounded-xl">
                    <span data-te-ripple-init data-te-ripple-color="light"
                        class="inline-block  p-1 mt-1 text-xl font-medium uppercase leading-normal text-blue-500 bg-white rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
                        </svg>
                    </span>
                    <span class="mx-1 font-medium text-xl" style="color: #f9fafc;">Log in with Facebook</span>
                </button>
                <div class="inline-flex items-center justify-center w-full mt-1">
                    <hr class="w-10/12 h-px my-8 bg-gray-200 border-0">
                    <span class="absolute px-3 font-semibold -translate-x-2 bg-white text-gray-600">OR</span>
                </div>
                <form method="post" action="/api/instagram/user/signup/create">
                    <input type="text" name="email" id="email"
                        class="block mx-auto w-10/12 mt-1 rounded border-0 py-3.5 pl-3 ring-1  ring-gray-300 placeholder:text-gray-400 focus:outline-none  sm:text-lg sm:leading-6"
                        placeholder="Mobile Number or Email">
                    <input type="text" name="fullname" id="fullname"
                        class="block mx-auto w-10/12 mt-3 rounded border-0 py-3.5 pl-3 ring-1  ring-gray-300 placeholder:text-gray-400 focus:outline-none  sm:text-lg sm:leading-6"
                        placeholder="Full name">
                    <input type="text" name="username" id="username"
                        class="block mx-auto w-10/12 mt-3 rounded border-0 py-3.5 pl-3 ring-1  ring-gray-300 placeholder:text-gray-400 focus:outline-none  sm:text-lg sm:leading-6"
                        placeholder="Username">
                    <input type="password" name="password" id="password"
                        class="block mx-auto w-10/12 mt-3 rounded border-0 py-3.5 pl-3 ring-1  ring-gray-300 placeholder:text-gray-400 focus:outline-none sm:text-lg sm:leading-6"
                        placeholder="Password">

                    <div class="mx-auto w-10/12 text-center mt-5 text-lg">
                        <span>
                            People who use our service may have uploaded your contact information to Instagram.
                        </span>
                        <a href="#" class="text-blue-900"> Learn More</a>
                    </div>
                    <div class="mx-auto w-10/12 text-center mt-5 text-lg">
                        <span>
                            By signing up, you agree to our
                        </span>
                        <a href="#" class="text-blue-900"> Terms</a>
                        <span>, </span>
                        <a href="#" class="text-blue-900">Privacy Policy</a>
                        <span> and </span>
                        <a href="#" class="text-blue-900">Cookies Policy.</a>
                    </div>

                    <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal"
                        class=" bg-blue-500 hover:bg-blue-600 text-white font-medium sm:text-xl block mx-auto w-10/12 mt-5 py-2 rounded-xl">
                        Sign up
                    </button>

                </form>




            </div>
            <form class="w-5/6 h-24 mt-5 mx-auto border" action="/api/instagram/user" method="Get">
                <div class="inline-flex justify-center w-full mt-8 text-xl">
                    <span>
                        Have an account?
                    </span>
                    <button href="#" class="px-3 font-bold" style="color: #0095F6;">
                        Log in
                    </button>
                </div>
            </form>
            <div class="w-5/6 h-32 mt-5 mx-auto">
                <span class="inline-flex justify-center w-full text-xl">
                    Get the app.
                </span>
                <div class="inline-flex justify-center w-full h-32 mt-5">
                    <img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt=""
                        class="w-40 h-14">
                    <img src="../images/tick.png" alt="" class="w-5 h-5 mt-9 mx-2">
                    <img src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt=""
                        class="w-40 h-14">
                </div>
            </div>
        </div>
    </div>

    <!-- footer web -->
    <div class="max-w-7xl mx-auto" style="color: #737373;">
        <div class="inline-flex justify-center w-full">
            <a href="#" class="mx-3 hover:underline">Meta</a>
            <a href="#" class="mx-3 hover:underline">About</a>
            <a href="#" class="mx-3 hover:underline">Blog</a>
            <a href="#" class="mx-3 hover:underline">Jobs</a>
            <a href="#" class="mx-3 hover:underline">Help</a>
            <a href="#" class="mx-3 hover:underline">API</a>
            <a href="#" class="mx-3 hover:underline">Privacy</a>
            <a href="#" class="mx-3 hover:underline">Terms</a>
            <a href="#" class="mx-3 hover:underline">Locations</a>
            <a href="#" class="mx-3 hover:underline">Instagram Lite</a>
            <a href="#" class="mx-3 hover:underline">Threads</a>
            <a href="#" class="mx-3 hover:underline">Contact Uploading & Non-Users</a>
            <a href="#" class="mx-3 hover:underline">Meta Verifed</a>
        </div>
        <div class="inline-flex justify-center w-full items-center">
            <div class="mt-3">
                <button id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right"
                    class="me-3 mb-3 md:mb-0font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                    type="button">
                    English
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>

                <!-- Dropdown menu -->
                <div id="dropdownRight"
                    class="z-10 hidden bg-slate-600 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRightButton">
                        <li>
                            <a href="#" class="block px-4 py-2">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 ">Settings</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 ">Earnings</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 ">Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <span>
                © 2023 Instagram from Meta
            </span>
        </div>
    </div>

</body>

</html>